*,
* ::after,
* ::before {
  box-sizing: border-box;
  padding: 0;
	margin: 0;
}

:root {
	--Dark_Blue: #000000;
	--Wihte: #FFF;
	--Gray: #3e3c3cc9;
	--Gray20: #3e3c3c50;
	--Violet: #9BA4ED;
	--Gray50: #5221E6;
}

body {
	font-family: 'Sen', sans-serif;
	background-color: var(--Dark_Blue);
	color: var(--Wihte);
	overflow-x: hidden;
}

span {
	color: var(--Violet);
}
h2 {
	font-size: 55px;
	font-weight: 600;
}
h3 {
	font-size: 24px;
	font-weight: 500;
}


.nav {
	padding: 50px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav ul {
  display: flex;
  gap: 70px;
  list-style: none;
  margin-right: 60px;

  cursor: pointer;
}

/* header */

.header__container {
	max-width: 100vw;
	height: 690px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 5;
}

.header__first {
	max-width: 600px;
	margin-right: 50px;
}
.header__first h3 {
	font-size: 30px;
	font-weight: 600;
}

.header__first p {
	margin-top: 8px;
	font-weight: 100;
}

.header__first button {
	margin-top: 25px;
	padding: 8px 20px;
	background-color: #9ba4ed0d;
	color: var(--Wihte);
	border: 2px solid;
	border-color: #9BA4ED;
	border-radius: 11px;
	cursor: pointer;
}

.header__second {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__second img{
	margin-bottom: 120px;
	width: 500px;
	position: relative;
	z-index: 10;
}
/* 
.fondo {
	position: absolute;
	right: 90px;
	top: 200px;
	width: 500px;
	z-index: 5;
} */

.fondo {
	position: absolute;
	right: 5%;
	top: 150px;
	width: 500px;
	z-index: 5;
}
.aux {
	border-radius: 10%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;

	position: absolute;
	top: 510px;
	right: 6%;
	filter: blur(10px);
	width: 440px;
	height: 80px;
	background-color: rgb(25, 25, 25);
	z-index: 15;
}

/* figuras */
.shape__1 {
	position: absolute;
	left: 700px;
	bottom: 10px;
}

/* cards */
.crads__granpa {
	display: flex;
	justify-content: center;
}
.cards__container {
	width: 70vw;
	padding: 15px 30px ;
	background-color: var(--Gray20);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 20px;
}
.card {
	width: 20%;
	height: 200px;
	background-color: var(--Gray20);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	z-index: 5;
}

.card i {
	font-size: 56px;
}

/* figuras para cards */

.shape__2 {
	position: absolute;
	top: 100px;
	right: 650px;
}

/* landing */

.landing {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.landing__1 img {
	width: 350px;
	margin: 0px 60px;
	border-radius: 10%;
	position: relative;
	top: 100px;
	z-index: 5;
}

.landing__2 {
	max-width: 600px;
	height: 200px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fondo__2 {
	width: 550px;
	position: absolute;
	top: 260px;
	left: 130px;
}
.shape__3 {
	position: absolute;
	top: 600px;
	left: 800px;
}

/* Build a whole new world */

.new__world__section {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.new__worlds__1 {
	max-width: 600px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.new__worlds__2 img {
	width: 350px;
	margin: 0px 60px 0px 0px;
	border-radius: 10%;
	position: relative;
	z-index: 5;
}

.fondo__3 {
	width: 550px;
	position: absolute;
	bottom: 60px;
	right: 150px;
}

.shape__4 {
	position: absolute;
	top: 1800px;
	right: 800px;
}

/* contact */

.contact {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.contact__box {
	width: 63%;
	height: 50%;
	background-color: var(--Gray20);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 5;
}

.box {
	width: 50%;
	height: 80%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.box button {
	margin-top: 25px;
	padding: 8px 20px;
	background-color: #9ba4ed0d;
	color: var(--Wihte);
	border: 2px solid;
	border-color: #9BA4ED;
	border-radius: 11px;
	cursor: pointer;
}

.shape__5 {
	position: absolute;
	top: 2500px;
	left: 700px;
	rotate: 90deg;
}
