*,
* ::after,
* ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Dark_Blue: #000000;
  --Wihte: #FFF;
  --Gray: #3e3c3cc9;
  --Gray20: #3e3c3c50;
  --Violet: #9BA4ED;
  --Gray50: #5221E6;
  --navMenu: rgba(0, 0, 0, 0.8);
}

body {
  font-family: 'Sen', sans-serif;
  background-color: var(--Dark_Blue);
  color: var(--Wihte);
}

span {
  color: var(--Violet);
}

h2 {
  font-size: 55px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

a {
  font-family: 'Sen', sans-serif;
  color: var(--Violet);
}

@font-face {
  font-family: Sen;
  src: url('/public/fonts/Sen-VariableFont_wght.ttf');
}