
.nav {
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.nav__toggel {
  margin-top: 0px;
  padding: 15px;
  background-color: transparent;
  color: var(--Wihte);
  border: 0px solid;
  border-color: #9BA4ED;
  border-radius: 11px;
  cursor: pointer;
  position: fixed;
  top: 1.5vh;
  right: 5vw;
  z-index: 15;
}

.nav__toggel i {
  font-size: 2rem;
}

.nav__menu {
  left: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-color: var(--navMenu);
  backdrop-filter: blur(8px) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  list-style: none;
  overflow: auto;
  transition-duration: 0.3s;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav__slide {
  left: 0%;

  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-color: var(--navMenu);
  backdrop-filter: blur(8px) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  list-style: none;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu__item {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Wihte);
  text-decoration: none;
  position: relative;
}

.menu__link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Wihte);
  text-decoration: none;
  position: relative;
}




@media (min-width: 992px) {
  .nav {
    visibility: visible;
    height: 10vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5vw;
  }

  .nav__toggel {
    display: none;
    
  }

  .nav__menu {
    height: 10vh;
    padding: 15px;
    max-width: 900px;
    background-color: transparent;
    backdrop-filter: blur(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 5vw;
    position: relative;
    top: 15px;
    left: 0%;
  }
  .menu__item {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--Wihte);
    text-decoration: none;
    position: relative;
  }
  .menu__link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--Wihte);
    text-decoration: none;
    position: relative;
  }
}